<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>demo16</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">javascritp</div>
</body>
<script>
    const app=Vue.createApp({
        data(){
            return{
                listArray:['谢大脚','刘红','晓红'],
                listObject:{
                    GirlOne:'谢小脚',
                    GirlTwo:'罗英',
                    GirlThree:'小红'
                }
            }
        },
        methods:{
            handleChangeBtnClick(){
                this.listArray.push('JSPang.com')
            },
        },
        template:`
            <ul>
                <li v-for="(item,index) in listArray" :key="index+item">[{{index}}]{{item}}</li>
            </ul>
            <button @click="handleChangeBtnClick">点我改变</button>
            <ul>
                <li v-for="(value,key,index) in listObject" :key="key">[{{index}}]{{value}}-{{key}}</li>
            <ul>
        `
    })
    const vm=app.mount("#app")
</script>
</html>