<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>佳丽列表制作</title>
<script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app"></div>
    
</body>
<script>
    Vue.createApp({
        data(){
            return{
            inputvalue:"",
            list: []      
            }
        },
        methods:{
            additem(){
                this.list.push(this.inputvalue),
                this.inputvalue=''  //清空输入值
            }
        },
        template:`
            <ul>
                <input v-model="inputvalue">
                <button v-on:click="additem">增加佳丽</button>
                <li v-for='(item,index) of list'>[{{index+1}}]{{item}}</li>
            </ul>
        `
    }).mount('#app')
</script>
</html>