.css {
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
a:link {
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
a:active {
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	text-decoration: none;
}
